<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body style="height: 100vh; overflow: hidden">
<div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-center">
        <p><i class="fa-solid fa-circle-xmark" style="font-size: 100px;color: red"></i></p>
        <p>Wrong verification link</p>
    </div>
</div>
</body>
</html>